# Docker Compose Environment Variables
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=golly_db
MYSQL_USER=golly_user
MYSQL_PASSWORD=golly_pass

# Application Environment Variables
DB_DSN=mysql:dbname=golly_db;host=db;port=3306
DB_USER=golly_user
DB_PASS=golly_pass
